body {
    background-color: #12161c;
    color: white;
}

body a {
    color: #ec5f67;
}

body a:hover {
    color: white;
}

hr {
    border-color: white;
}

.close, .close:hover {
    color: white;
}

.header {
    background-color: black;
}

.header .list-inline-item a {
    color: #f0b90b;
}

.header-second .title a {
    color: #f0b90b;
}

.footer {
    color: white;
}

.post {
    border: 1px solid #f0b90b;
    /*border-bottom: 1px solid #1f2833;*/
    background-color: #1f2833;
}

.post .title a {
    color: white;
}

.modal-content {
    background-color: #1f2833;
    color: white;
 }

.text-alert {
    color: red !important;
}

.text-highlight {
    color: #619200 !important; 
}

.badge-danger {
    background-color: red;
}

.badge-success {
    background-color: #619200 !important; 
}

.btn:hover, .btn:focus, .btn:active, .btn:active:focus, .btn.active, .open>.dropdown-toggle.btn {
    color: #fff !important;
    background-color: gray !important;
    border-color: gray !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-outline-primary {
    color: #f0b90b;
    border-color: #f0b90b;
}

.btn-outline-secondary {
    color: #619200;
    border-color: #619200;
}

.btn-outline-danger {
    color: red;
    border-color: red;
}