.header {
    background-color: grey;
    text-align: center;
    margin-top: 0;
}

.header .list-inline-item a {
    color: white;
}

.header-second {

}

.post {
    border: 1px solid black;
    background-color: white;
}

.post-odd {
    background-color:white;
}

.post-content {
    word-wrap: break-word;
}

.post-content img {
    max-width: 100%;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}