/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner {
	width:100%;
	position:relative;
}

.tp-banner img {
	width: 100%;
	max-height: 278px;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}

