html { 
    overflow-y: scroll; 
}

body {
    padding-right: 0 !important;
}

.header {
    text-align: center;
    margin-top: 0;
}

.header-second .title {
    font-size: xx-large;
}

.post-content, .post-attachment {
    word-wrap: break-word;
}

.post img {
    max-width: 100%;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.text-xsmall {
    font-size: x-small;
}

.post-collapse.collapsed:before
{
    content: '[+]';
}

.post-collapse:before
{
    content: '[-]';
}

blockquote {
    border-left: 10px solid #789922;
    padding: 0.5em 10px;  
    font-style:italic;
    color: #789922;
}